.Content {
  margin-bottom: 218px;
}

.Content-inner {
  display: flex;
  justify-content: center;
}

.Content__title {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 180px;
  line-height: 216px;
  text-align: center;
  color: #FFFFFF;
}

.Content__info {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
}