body {
  background: #498CEC;
  font-size: 30px;
  padding: 75px 0 122px 0;
}

.container {
  width: 1196px;
  margin: 0 auto;
}

/*
font-family: 'Lato', sans-serif;
font-family: 'PT Sans', sans-serif;
*/